@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-md: 45rem; /* 720px */
  --breakpoint-lg: 67.5rem; /* 1080px */
  --breakpoint-xl: 90rem; /* 1440px */

  /* Tipografía */
  --font-heading: "Poppins", sans-serif;
  --font-content: "Inter", sans-serif;

  /* Tamaños de texto */
  --text-h1: 2.5rem; /* 40px */
  --text-h2: 2rem; /* 32px */
  --text-h3: 1.5rem; /* 24px */
  --text-body: 1rem; /* 16px */
  --text-link: 0.9375rem; /* 15px */

  /* Paleta Cinder */
  --color-cinder-light: #edf1fa; /* equivalente a 50 */
  --color-cinder-soft: #7e9cdf; /* equivalente a 100 */
  --color-cinder-mid: #283f69; /* equivalente a 400 */
  --color-cinder-dark: #030712; /* equivalente a 700 */
}
